@use './var'as *;
@use './mixins'as *;

.card {
    background-color: $darkBlue;
    border-radius: 1rem;
    margin: 0 1rem;
    padding: 1.5rem;
    max-width: 400px;
}


//first-card styles
.first-card {
    &__img {
        @include button-bgc;
        padding: 0.6rem;
    }
    &__title {
        margin: 1rem 0;
    }
    &__description {
        color: $lightGrey;
        margin-bottom: 1.5rem;
    }
    &__buttons {
        @include flex-center;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        &--style {
            @include button-bgc;
            border: none;
            height: 45px;
            width: 45px;
            color: $lightGrey;
            &:focus {
                background-color: $lightGrey;
                color: $white;
                outline: none;
            }
            &:hover {
                background-color: $orange;
                color: $white;
            }
        }
    }
    &__submit-button {
        background-color: $orange;
        border: none;
        width: 100%;
        border-radius: 1.5rem;
        padding: .7rem 0;
        color: $white;
        text-transform: uppercase;
        font-weight: $fw700;
        outline: none;
        &:hover, &:focus {
            background-color: $white;
            color: $orange;
        }
    }
}

//second-card styles
.second-card {
    @include flex-center;
    flex-direction: column;
    gap: 1rem;
    &__selected{
        @include button-bgc;
        border-radius: 1rem;
        padding: .3rem .8rem;
        text-align: center;
        color: $orange;
        align-items: center;
    }
    &__header {
    }
    &__description {
        text-align: center;
        margin-bottom: 1rem;
        color: $lightGrey;
    }
}
.hidden {
    display: none;
}

@media (max-width: 225px) {
    .first-card {
        &__buttons {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}