@use './var' as *;

@mixin button-bgc {
    background-color: hsla(hue($mediumGrey), saturation($mediumGrey), lightness($mediumGrey), 0.1);
    border-radius: 50%;
}


@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}